/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbars globally but keep scrolling */
::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, Edge */
}

* {
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
  scrollbar-width: none;     /* For Firefox */
}


/* General body styles */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('../public/bg.avif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Code font styles */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Global scrollbar styles for Webkit-based browsers */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: aliceblue;
}

::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 10px;
}

/* Scrollbar styles for Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #000 aliceblue;
}

/* Hide seekbar for media elements like video or audio */
/* video::-webkit-media-controls-timeline,
audio::-webkit-media-controls-timeline {
  display: none !important;
} */
